html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
header {
    align-content: right;
}
button {
    cursor: pointer;
}
.start-sesion {
    color: white;
    background-color: #1a73e8;
}

section {
}
#section-container {
    border-style:solid;
    border-color: black;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 4fr repeat(3, 1fr);
    grid-template-areas: 
        ". image ." 
        ". search ." 
        ". butons ." 
        ". pa .";
}
#google-logo {
    grid-area: image;
    align-self: center;
    justify-self: center;
    border-style:solid;
    border-color: black;
}
#search-input{
    grid-area: search;
    align-self: center;
    justify-self: center;
    border-style:solid;
    border-color: black;
}
#search-option-butons {
    grid-area: butons;
    align-self: center;
    justify-self: center;
    border-style:solid;
    border-color: black;
}
#by-google {
    grid-area: pa;
    justify-self: center;
    border-style:solid;
    border-color: black;
}
footer {
}
.gray-link {
    color: gray;
}
