html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    font-family: arial,sans-serif;
}

button {
    cursor: pointer;
    border-color: transparent;
}
a {
    text-decoration: none;
    font-family: arial, sans-serif;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
/*content*/
#body-container {
    height: 100%;
    width: 100%;
    background-color: azure;
    display: grid;
}
/*header*/
header {
    height: 60px;
    align-self: flex-start;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.header-element {
    margin-left: 8px;
    margin-right: 8px;
}
.apps-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
}
.apps-container:hover {
    background-color: #f2f2f2;
}
.svg-apps {
    height: 25px;
    width: 25px;
}
.start-sesion {
    color: white;
    font-size: 14px;
    letter-spacing: .25px;
    padding: 9px 23px;
    background-color: #1a73e8;
    border-radius: 4px;
    margin-right: 12px;
}
.start-sesion:hover {
    background-color: rgb(66, 133, 244);
}
.link-black {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

/*section*/

#section-container {
    border-style:solid;
    border-color: rgb(17, 30, 218);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-areas: 
        "image" 
        "search" 
        "butons" 
        "pa";
}
#google-logo {
    grid-area: image;
    align-self: center;
    justify-self: center;
    border-style:solid;
    border-color: black;
}
#search-bar{
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    grid-area: search;
    align-self: center;
    justify-self: center;
    width: auto;
    max-width: 584px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search-bar:hover {
    box-shadow:0px 1px 2px 1px gray;
}
.svg-container {
    border: 1px solid #dfe1e5;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.svg-icon {
    height: 20px;
    width: 20px;
}
.search-input {
    margin: 0;
    padding: 0;
    height: 34px;
    color: rgba(0,0,0,.87);
    font-size: 16px;
}
#search-option-butons {
    grid-area: butons;
    align-self: center;
    justify-self: center;
    border-style:solid;
    border-color: black;
    display: flex;
    flex-wrap: nowrap;
}
.search-option {
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    min-width:54px;
    min-width: 54px;
    margin: 11px 4px;
    border-radius: 4px;
}
.search-option:hover {
    box-shadow:0 1px #999;
    border:1px solid #dfe1e5;
    color: black;
}
#by-google {
    grid-area: pa;
    justify-self: center;
    border-style:solid;
    border-color: black;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 14px;
    color: #70757a;
}
#country-container {
    align-self:flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid #dadce0;
}
#country {
    justify-self: center;
    flex-grow: 1;
    color: rgba(0,0,0,.54);
}
#links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
}
.url-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#links-left {
    flex-grow: 3;
}
#links-right {
    flex-grow: 1;
}
.gray-link {
    color: #70757a;
    padding: 15px;
    align-self: center;
}
@media  (min-width: 1200px){
    /*footer*/
    #links-right {
        justify-content: flex-end;
    }
    #links-left {
        justify-content: flex-start;
    }
}
